DE1-SoC/db
DE1-SoC/.qsys_edit 
DE1-SoC/cpu_system
DE1-SoC/incremental_db
DE1-SoC/c5_pin_model_dump.txt
DE1-SoC/DE1_SoC.asm.rpt
DE1-SoC/DE1_SoC.done
DE1-SoC/DE1_SoC.cdf
DE1-SoC/DE1_SoC.fit.rpt
DE1-SoC/DE1_SoC.fit.smsg
DE1-SoC/DE1_SoC.fit.summary
DE1-SoC/DE1_SoC.flow.rpt
DE1-SoC/DE1_SoC.jdi
DE1-SoC/DE1_SoC.map.rpt
DE1-SoC/DE1_SoC.map.smsg
DE1-SoC/DE1_SoC.map.summary
DE1-SoC/DE1_SoC.pin
DE1-SoC/DE1_SoC.sld
DE1-SoC/DE1_SoC.sof
DE1-SoC/DE1_SoC.sta.rpt
DE1-SoC/DE1_SoC.sta.summary
DE1-SoC/Soft/Build/*.o
DE1-SoC/Soft/Build/*.elf
DE1-SoC/*.tcl~
DE1-SoC/prog-gpio-validation-sim/work
DE1-SoC/prog-gpio-validation-sim/transcript
DE1-SoC/prog-gpio-validation-sim/*.wlf