avalon_accel/.qsys_edit 
avalon_accel/db
avalon_accel/cpu_system
avalon_accel/incremental_db
avalon_accel/DE1_SoC.asm.rpt
avalon_accel/DE1_SoC.done
avalon_accel/DE1_SoC.fit.rpt
avalon_accel/DE1_SoC.fit.smsg
avalon_accel/DE1_SoC.fit.summary
avalon_accel/DE1_SoC.flow.rpt
avalon_accel/DE1_SoC.jdi
avalon_accel/DE1_SoC.map.rpt
avalon_accel/DE1_SoC.map.smsg
avalon_accel/DE1_SoC.map.summary
avalon_accel/DE1_SoC.pin
avalon_accel/DE1_SoC.sld
avalon_accel/DE1_SoC.sof
avalon_accel/DE1_SoC.sta.rpt
avalon_accel/DE1_SoC.sta.summary
avalon_accel/Soft/Build/*.o
avalon_accel/Soft/Build/*.elf
avalon_accel/*.tcl~
avalon_accel/dma-validation-sim/work
avalon_accel/dma-validation-sim/transcript
avalon_accel/dma-validation-sim/*.wlf